'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Dyndoc Viewer'
    'submenu': [
    	{
    		'label': 'Toggle Viewer'
    		'command': 'dyndoc-viewer:toggle'
    	},
    	{
    		'label': 'Eval Dyndoc'
    		'command': 'dyndoc-viewer:eval' 
    	},
      {
        'label': 'Compile Dyndoc'
        'command': 'dyndoc-viewer:compile' 
      },
      {
        'label': 'Atom Dyndoc'
        'command': 'dyndoc-viewer:atom-dyndoc' 
      },
      {
        'label': 'Kill Dyndoc Server'
        'command': 'dyndoc-viewer:kill' 
      },
      {
        'label': 'Start Dyndoc Server'
        'command': 'dyndoc-viewer:start' 
      }
    ]
  ]
]